:root {
  --monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  --sans-serif: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --bg: rgb(243, 244, 246);
  --fg: #3c4043;
  --highlight: #3b82f6;
  --surface: #fff;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  background: var(--bg);
  color: var(--fg);
  font: 400 100% / 1.3 var(--sans-serif);
}

a {
  text-decoration: none;
  color: var(--highlight);
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: #fafafa;
    --bg: #0a0a0a;
    --surface: #181818;
    --highlight: #3b82f6;
  }
}

.outer {
  max-width: 48rem;
  margin: 0 auto 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
